@keyframes show-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.post {
  display: none;

  &.active {
    display: block;
    animation: show-up 1s ease-out;
  }
}

.post-author {
  font-style: italic;

  & .active {
    font-weight: bold;
  }
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}
